<div class='w-full relative'>
  <img
    class='absolute top-10 w-[800px] left-0 right-0 mx-auto z-10'
    src='/assets/images/logo-home.svg'
    alt='Premios ESLAND 2024'
  />
  <video
    class='w-full h-auto object-contain object-top animate-fade duration-300'
    src='/assets/video/logo.mp4'
    autoplay
    loop
    muted
    style='clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 70%, 50% 100%, 50% 100%, 50% 100%, 0% 70%, 0% 35%, 0 0)'
  ></video>
  <video class='absolute -bottom-48 blur-3xl -z-40' src='/assets/video/logo.mp4' autoplay loop muted></video>
</div>
